In [ ]:
import os
import numpy as np
import pandas as pd

import torch
import torch.nn as nn
from torch import autograd
from torch.utils import data
from torch.optim import Adam

import matplotlib.pyplot as plt
import seaborn as sns

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
DATASET_PATH = os.path.join('/content/drive/MyDrive/AI_team/eda')
df_train = pd.read_csv(os.path.join(DATASET_PATH, 'train.csv'))
df_valid = pd.read_csv(os.path.join(DATASET_PATH, 'validate.csv'))

In [ ]:
len(list(df_valid.index))   # valid는 빠짐없이 시간 존재 총 14일 데이터

336

In [ ]:
del_days = 7
df_valid2 = df_valid.drop(df_valid.index[:del_days*24])
df_valid2.to_csv('/content/drive/MyDrive/AI_team/eda/valid2.csv', index=False)

In [ ]:
# train과 valid2 합치기
frames = [df_train, df_valid2]
df_all = pd.concat(frames, ignore_index=True)

In [ ]:
df_all2 = df_all.copy()

In [ ]:
# 결측값 2월6일 18시 / 5월15일 05시
df_all2[df_all2['10']==0]

            날짜  시간  10  100  101  120  ...  1510  2510  3000  4510  5510  6000
882   20200206  18   0   86    0    1  ...     0     0     0    35     0     0
3212  20200515   5   0    0    0    0  ...     0     0     0     0     0     0

[2 rows x 37 columns]

In [ ]:
# 전체 도로 결측치 채워주기
col_list = list(df_all2.columns)
road_list = col_list[2:]

for road in road_list:
    df_all2.loc[882, road] = int( (df_all2.loc[881,road] + df_all2.loc[883,road]) / 2)
    df_all2.loc[3212, road] = int( (df_all2.loc[3211,road] + df_all2.loc[3213,road]) / 2)

In [ ]:
df_all2[df_all2['날짜']==20200220]

            날짜  시간      10     100    101  ...   2510  3000   4510   5510   6000
1200  20200220   0   81360   15875   1422  ...   3867   424   2095   1780   2506
1201  20200220   1   56446   10651    789  ...   2746   304   1409   1145   1835
1202  20200220   2   46005    9053    606  ...   2529   282   1182    948   1474
1203  20200220   3   46667   10675    721  ...   2463   242   1423    984   1778
1204  20200220   4   60795   17493   1187  ...   3207   423   2787   1710   2811
1205  20200220   5  111103   32949   1987  ...   5197   715   4816   3835   6281
1206  20200220   6  207060   61011   4668  ...   8373  1398  13019   8685  13468
1207  20200220   7  305576   97610   8061  ...  17817  3104  24641  14367  23759
1208  20200220   8  322371  102599   9723  ...  23138  4357  24022  15044  23778
1209  20200220   9  329382   99455  10884  ...  21828  2826  18934  13957  22361
1210  20200220  10  347841  109203  12232  ...  23038  2687  18714  14367  23771
1211  20200220  11  335849  107877  11806  ...  22187  2409  17098  13371  22374
1212  20200220  12  322895  100011  10644  ...  21152  2243  15295  11315  20536
1213  20200220  13  330117   99408  11263  ...  21921  2325  16154  11986  19974
1214  20200220  14  338317  101596  11114  ...  22707  2685  16882  12991  21159
1215  20200220  15  342979  106303  11588  ...  22058  2596  17077  13618  22875
1216  20200220  16  361198  109016  12062  ...  22784  2923  17570  13616  23919
1217  20200220  17  374611  116441  12616  ...  26139  3812  21652  15592  26316
1218  20200220  18  347395  102689  10800  ...  24078  4123  21618  14747  24230
1219  20200220  19  238640   73700   6380  ...  13611  1532  14561   9283  15335
1220  20200220  20  225897   60494   4470  ...  11767  1471  10438   6902  10896
1221  20200220  21  208312   46228   3758  ...   9959  1132   7028   5230   7700
1222  20200220  22  162659   34337   2613  ...   7766   979   4130   3946   5865
1223  20200220  23  120384   24536   1695  ...   5470   635   2812   2785   3611

[24 rows x 37 columns]

In [ ]:
# 설날 낀 주 삭제(20200220~20200226) 20200220 인덱스 : 1200
df_all2[df_all2['날짜']==20200220]

# 설날 4일 삭제
df_all3 = df_all2.drop(df_all2.index[1200:1200+7*24])

# 삭제 확인
df_all3[df_all3['날짜']==20200226]

Empty DataFrame
Columns: [날짜, 시간, 10, 100, 101, 120, 121, 140, 150, 160, 200, 201, 251, 270, 300, 301, 351, 352, 370, 400, 450, 500, 550, 600, 650, 652, 1000, 1020, 1040, 1100, 1200, 1510, 2510, 3000, 4510, 5510, 6000]
Index: []

In [ ]:
# valid data에서 결측치 없애주기 (5월 21일) 10시~14시 데이터가 이상함 
valid_null_list = ['101', '121', '140']

df_all3[df_all3['101']==0]  # 5월21일 인덱스 3362 이전 주인 14일 값 반영 - 스케일도 별 차이 없음

for road in valid_null_list:
    df_all3.loc[3361, road] = int( (df_all2.loc[3361-7*24, road]) )
    df_all3.loc[3362, road] = int( (df_all2.loc[3362-7*24, road]) )
    df_all3.loc[3363, road] = int( (df_all2.loc[3363-7*24, road]) )
    df_all3.loc[3364, road] = int( (df_all2.loc[3364-7*24, road]) )
    df_all3.loc[3365, road] = int( (df_all2.loc[3365-7*24, road]) )

In [ ]:
df_all3[3193:3200]

            날짜  시간      10     100    101  ...   2510  3000   4510   5510   6000
3361  20200521  10  343667  107261   2942  ...  23833  2246  21369  14187  23894
3362  20200521  11  339887   99234      0  ...  22988  2045  20082  13671  22567
3363  20200521  12  322724   94243      0  ...  20898  2125  16320  11651  19487
3364  20200521  13  329873   93115      0  ...  21368  2206  18046  12433  19496
3365  20200521  14  334335  101138   7225  ...  21934  2359  18697  13151  21906
3366  20200521  15  347699  107829  12495  ...  22285  2296  18462  13428  21927
3367  20200521  16  357751  111307  12169  ...  25808  2849  20567  13913  23952

[7 rows x 37 columns]

In [ ]:
# 잘 반영 됨
df_all3.loc[3361:3365]

            날짜  시간      10     100    101  ...   2510  3000   4510   5510   6000
3361  20200521  10  343667  107261  12158  ...  23833  2246  21369  14187  23894
3362  20200521  11  339887   99234  11997  ...  22988  2045  20082  13671  22567
3363  20200521  12  322724   94243  10908  ...  20898  2125  16320  11651  19487
3364  20200521  13  329873   93115  11637  ...  21368  2206  18046  12433  19496
3365  20200521  14  334335  101138  12018  ...  21934  2359  18697  13151  21906

[5 rows x 37 columns]

In [ ]:
# 2월29일(토13시~23시 총 11개 row) 결측치 넣어주기
df_all3[df_all3['날짜']==20200229]

            날짜  시간      10    100    101  ...   2510  3000   4510  5510   6000
1416  20200229   0   70783  12481   1074  ...   3447   401   1706  1381   1872
1417  20200229   1   51754   8195    694  ...   2685   231   1240  1014   1428
1418  20200229   2   41031   7143    641  ...   2313   237   1107   848   1307
1419  20200229   3   37688   7626    624  ...   2083   201   1257   807   1181
1420  20200229   4   46899  11199    781  ...   2737   391   1888  1163   1797
1421  20200229   5   80770  20795   1717  ...   3920   542   3485  2561   4000
1422  20200229   6  126497  35718   3163  ...   5548   895   7021  4730   8105
1423  20200229   7  156874  51431   4414  ...   7812  1407  10988  6980  11540
1424  20200229   8  189865  57387   5271  ...  10854  1697  11589  7241  12127
1425  20200229   9  229212  70651   7700  ...  13805  1932  11631  8396  14127
1426  20200229  10  263691  86077   9788  ...  17461  2199  12876  9490  16803
1427  20200229  11  273499  87255  10618  ...  18613  2364  13056  9886  17624
1428  20200229  12  262765  85231  10054  ...  17306  2230  12745  9629  17548

[13 rows x 37 columns]

In [ ]:
df_all.loc[1141]

In [ ]:
col_list = list(df_all3.columns)[2:]

In [ ]:
# 2월29일(토13시~23시 총 11개 row) 결측치 넣어주기
data_0229_13_23 = list()
for i in range(11):
    data_0229_13_23.append(list(df_all3.loc[1586+i])[2:])
len(data_0229_13_23)

11

In [ ]:
# 2월29일(토13시~23시 총 11개 row) 결측치 넣어주기
list(df_all3.index)[-1] # 마지막 index num 확인 3446
for i in range(11): #2월 22일 (설날이라 데이터없음) & 3월 7일 데이터 넣어주기    3월7일 13시 loc[1586]
    df_all3.loc[3447+i] = [20200229, 13+i, *data_0229_13_23[i]]

In [ ]:
# 잘 추가 됨
df_all3.tail(12)

            날짜  시간      10    100    101  ...   2510  3000   4510   5510   6000
3446  20200524  23  143609  26137   2242  ...   6487   410   3963   2686   4690
3447  20200229  13  288938  89088  11259  ...  19589  2753  13702  10433  17071
3448  20200229  14  292542  96386  11697  ...  20733  2809  13103  10600  18445
3449  20200229  15  300031  96822  11569  ...  21784  2971  13227  11404  19987
3450  20200229  16  306567  92925  11406  ...  22043  2869  13631  11647  19890
3451  20200229  17  299771  89966   9981  ...  20823  3012  14554  11800  19493
3452  20200229  18  245574  66152   7455  ...  16151  2322  10831   8181  14655
3453  20200229  19  192277  48772   5069  ...  11956  1615   7359   5966   9934
3454  20200229  20  164748  37809   3756  ...   9727  1191   5627   4442   7470
3455  20200229  21  141565  29185   2588  ...   7154   891   3958   3824   6045
3456  20200229  22  108967  20265   1988  ...   5326   599   3042   2676   3889
3457  20200229  23   73198  13065   1358  ...   3083   305   1972   1767   2350

[12 rows x 37 columns]

In [ ]:
df_all3[df_all3['날짜']==20200406]  #2273
df_all.loc[2273]

In [ ]:
df_all3[df_all3['날짜']==20200323]  #1959
df_all.loc[1959]

In [ ]:
# 3월30일 작업(월02시~23시 22개)    #4월6일 데이터, 3월23일 데이터
data_0330_02_23 = list()
for i in range(22):
    data_0330_02_23.append( [int(i) for i in list((df_all3.loc[2273+i]+df_all3.loc[1959+i]/2))[2:]] )

In [ ]:
list(df_all3.index)[-1] # 마지막 index num 확인 3457
for i in range(22): #2월 22일 (설날이라 데이터없음) & 3월 7일 데이터 넣어주기    3월7일 13시 loc[1586]
    df_all3.loc[3458+i] = [20200330, 2+i, *data_0330_02_23[i]]

In [ ]:
df_all3.tail(24)

            날짜  시간      10     100    101  ...   2510  3000   4510   5510   6000
3456  20200229  22  108967   20265   1988  ...   5326   599   3042   2676   3889
3457  20200229  23   73198   13065   1358  ...   3083   305   1972   1767   2350
3458  20200330   2   54275   11712    981  ...   2656   219   1387   1284   1929
3459  20200330   3   64311   15280    856  ...   3442   350   2042   1353   2614
3460  20200330   4  118591   28854   1828  ...   6155   586   3897   2741   5289
3461  20200330   5  275559   61081   4631  ...  12599  1361   8969   7116  12564
3462  20200330   6  478888  120797  11038  ...  24730  3260  24200  16483  27673
3463  20200330   7  562571  165619  18771  ...  39897  6222  42112  25150  41110
3464  20200330   8  516063  150203  17628  ...  36267  6738  34537  23634  36431
3465  20200330   9  454044  128931  13878  ...  29564  3816  26422  18681  31319
3466  20200330  10  472239  142169  16315  ...  31182  3666  27056  19050  31580
3467  20200330  11  480594  149532  16246  ...  31338  3439  25067  18168  30177
3468  20200330  12  453896  139034  13929  ...  28905  3106  22579  15961  27227
3469  20200330  13  450660  137614  14882  ...  27660  3321  24441  17081  28284
3470  20200330  14  453577  138971  15589  ...  29477  3855  25525  18373  30864
3471  20200330  15  476636  139254  15272  ...  28841  3684  25053  17848  30444
3472  20200330  16  502947  145304  14887  ...  30409  4079  25777  18493  31937
3473  20200330  17  510707  153181  15818  ...  33487  5402  30829  21940  35689
3474  20200330  18  481066  137993  13991  ...  32379  6044  32433  20717  32812
3475  20200330  19  364627   94910   8295  ...  20635  3230  21038  12588  20792
3476  20200330  20  319788   77835   6458  ...  16446  2021  15167   8879  14456
3477  20200330  21  279927   57505   5024  ...  13239  1674   9770   6117   9736
3478  20200330  22  215179   43447   3549  ...  10147  1095   6391   4578   6831
3479  20200330  23  156719   29569   2418  ...   6921   647   4293   3095   4688

[24 rows x 37 columns]

In [ ]:
# 다시 날짜, 시간별로 sort 해주고 reset index
df_all4 = df_all3.sort_values(by=['날짜','시간']).reset_index(inplace = False, drop=True)
df_all4[df_all4['날짜']==20200330]

            날짜  시간      10     100    101  ...   2510  3000   4510   5510   6000
1968  20200330   0   38243    7403    585  ...   1662   139    950    761   1130
1969  20200330   1   20378    3927    313  ...    980    83    602    358    685
1970  20200330   2   54275   11712    981  ...   2656   219   1387   1284   1929
1971  20200330   3   64311   15280    856  ...   3442   350   2042   1353   2614
1972  20200330   4  118591   28854   1828  ...   6155   586   3897   2741   5289
1973  20200330   5  275559   61081   4631  ...  12599  1361   8969   7116  12564
1974  20200330   6  478888  120797  11038  ...  24730  3260  24200  16483  27673
1975  20200330   7  562571  165619  18771  ...  39897  6222  42112  25150  41110
1976  20200330   8  516063  150203  17628  ...  36267  6738  34537  23634  36431
1977  20200330   9  454044  128931  13878  ...  29564  3816  26422  18681  31319
1978  20200330  10  472239  142169  16315  ...  31182  3666  27056  19050  31580
1979  20200330  11  480594  149532  16246  ...  31338  3439  25067  18168  30177
1980  20200330  12  453896  139034  13929  ...  28905  3106  22579  15961  27227
1981  20200330  13  450660  137614  14882  ...  27660  3321  24441  17081  28284
1982  20200330  14  453577  138971  15589  ...  29477  3855  25525  18373  30864
1983  20200330  15  476636  139254  15272  ...  28841  3684  25053  17848  30444
1984  20200330  16  502947  145304  14887  ...  30409  4079  25777  18493  31937
1985  20200330  17  510707  153181  15818  ...  33487  5402  30829  21940  35689
1986  20200330  18  481066  137993  13991  ...  32379  6044  32433  20717  32812
1987  20200330  19  364627   94910   8295  ...  20635  3230  21038  12588  20792
1988  20200330  20  319788   77835   6458  ...  16446  2021  15167   8879  14456
1989  20200330  21  279927   57505   5024  ...  13239  1674   9770   6117   9736
1990  20200330  22  215179   43447   3549  ...  10147  1095   6391   4578   6831
1991  20200330  23  156719   29569   2418  ...   6921   647   4293   3095   4688

[24 rows x 37 columns]

In [ ]:
print(list(df_all4['날짜'].value_counts()))

[24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24]

In [ ]:
len(list(df_all4['날짜'].value_counts()))

138

In [ ]:
del_days = 5
df_all5 = df_all4.drop(df_all4.index[:del_days*24])
df_all6 = df_all5.sort_values(by=['날짜','시간']).reset_index(inplace = False, drop=True)

In [ ]:
df_all6

            날짜  시간      10    100    101  ...   2510  3000   4510   5510   6000
0     20200106   0   78735  14431   1247  ...   3308   464   2539   1248   2239
1     20200106   1   51570   8678    743  ...   2143   300   1370    730   1438
2     20200106   2   40050   7673    611  ...   1728   193   1133    682   1091
3     20200106   3   42615   9650    601  ...   2338   295   1321    760   1805
4     20200106   4   72065  18105   1034  ...   3453   486   2726   1510   3439
...        ...  ..     ...    ...    ...  ...    ...   ...    ...    ...    ...
3187  20200524  19  314226  98345  10625  ...  21694  2180  15746  10903  21014
3188  20200524  20  300001  87871   8226  ...  19732  1990  14096  10028  17787
3189  20200524  21  304150  71126   6002  ...  16967  1359  11670   7963  14041
3190  20200524  22  236751  44947   3575  ...  11397   859   7270   5194   8230
3191  20200524  23  143609  26137   2242  ...   6487   410   3963   2686   4690

[3192 rows x 37 columns]

In [ ]:
## 그냥 이대로 넣어주자

df_all6.to_csv('/content/drive/MyDrive/AI_team/eda_2/train.csv', index=False)

In [ ]:
# 3월30일 작업(월02시~23시 22개) 결측치 넣어주기

In [ ]:
# 날짜에 시간합쳐주고, 시간 컬럼 삭제

df_all6["날짜"] = df_all6["날짜"].astype(str) +'-'+ df_all6["시간"].astype(str)

# 시간 컬럼 삭제
df_all6

In [ ]:
df_all6

            날짜      10    100    101    120  ...   2510  3000   4510   5510   6000
0     20200101   83247  19128   2611   5161  ...   3810   748   3920   2133   3799
1     20200101   89309  19027   3337   5502  ...   3763   782   3483   2057   4010
2     20200101   66611  14710   2970   4631  ...   3229   491   2634   1526   3388
3     20200101   53290  13753   2270   4242  ...   2882   431   2488   1268   3686
4     20200101   52095  17615   2406   3689  ...   2433   499   2952   1927   5608
...        ...     ...    ...    ...    ...  ...    ...   ...    ...    ...    ...
3307  20200524  314226  98345  10625  28618  ...  21694  2180  15746  10903  21014
3308  20200524  300001  87871   8226  22706  ...  19732  1990  14096  10028  17787
3309  20200524  304150  71126   6002  18317  ...  16967  1359  11670   7963  14041
3310  20200524  236751  44947   3575  11455  ...  11397   859   7270   5194   8230
3311  20200524  143609  26137   2242   6166  ...   6487   410   3963   2686   4690

[3312 rows x 36 columns]

In [ ]:
# print(df_all4)
df_all6['날짜'] = pd.to_datetime(df_all6['날짜'], format='%Y%m%d-%H', errors='raise')
df_all6.dtypes
# 날짜 타입으로 변경
df_all6['날짜'] = df_all6['날짜'].astype(str)

In [ ]:
print(*road_list)

10 100 101 120 121 140 150 160 200 201 251 270 300 301 351 352 370 400 450 500 550 600 650 652 1000 1020 1040 1100 1200 1510 2510 3000 4510 5510 6000

In [ ]:
# 컬럼 변경해주기
df_all6.columns = ['ds', *road_list]

In [ ]:
df_all6.head()

           ds     10    100   101   120  ...  2510  3000  4510  5510  6000
120  20200106  78735  14431  1247  3825  ...  3308   464  2539  1248  2239
121  20200106  51570   8678   743  2465  ...  2143   300  1370   730  1438
122  20200106  40050   7673   611  2149  ...  1728   193  1133   682  1091
123  20200106  42615   9650   601  2178  ...  2338   295  1321   760  1805
124  20200106  72065  18105  1034  4356  ...  3453   486  2726  1510  3439

[5 rows x 36 columns]

In [ ]:
df_all6.to_csv('/content/drive/MyDrive/AI_team/eda/train_valid_merge_7days.csv', index=False)

7일 주기 train valid merge data

In [ ]:
df_all6 = pd.read_csv('/content/drive/MyDrive/AI_team/eda/train_valid_merge.csv')

In [ ]:
df_all6

In [ ]:
del_days=5
df_all7 = df_all6.drop(df_all6.index[:del_days*24])

In [ ]:
df_all7[df_all7['ds']=='2020-01-20 00:00:00']

                      ds     10    100   101  ...  3000  4510  5510  6000
456  2020-01-20 00:00:00  87157  14952  1258  ...   518  2303  1330  2431

[1 rows x 36 columns]

In [ ]:
df_all7

                       ds      10    100    101  ...  3000   4510   5510   6000
120   2020-01-06 00:00:00   78735  14431   1247  ...   464   2539   1248   2239
121   2020-01-06 01:00:00   51570   8678    743  ...   300   1370    730   1438
122   2020-01-06 02:00:00   40050   7673    611  ...   193   1133    682   1091
123   2020-01-06 03:00:00   42615   9650    601  ...   295   1321    760   1805
124   2020-01-06 04:00:00   72065  18105   1034  ...   486   2726   1510   3439
...                   ...     ...    ...    ...  ...   ...    ...    ...    ...
3346  2020-05-24 19:00:00  314226  98345  10625  ...  2180  15746  10903  21014
3347  2020-05-24 20:00:00  300001  87871   8226  ...  1990  14096  10028  17787
3348  2020-05-24 21:00:00  304150  71126   6002  ...  1359  11670   7963  14041
3349  2020-05-24 22:00:00  236751  44947   3575  ...   859   7270   5194   8230
3350  2020-05-24 23:00:00  143609  26137   2242  ...   410   3963   2686   4690

[3231 rows x 36 columns]

## AI가 아닌 기존 data에 가중치를 주며 답안 제출

In [ ]:
df_all8 = df_all7.reset_index(inplace = False, drop=True)
df_all8.to_csv('/content/drive/MyDrive/AI_team/eda_2/train.csv', index=False)

In [ ]:
df_all7[456:456+24*2]

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/AI_team/eda_2/train.csv')

In [ ]:
a = df[3231-2*24*7:3231-24*7] #5월 2째 주 가중치

In [ ]:
b = df[3231-24*7:3231]  #5월 3째 주 가중치

In [ ]:
col_list = list(a.columns)[1:]
print(col_list)

['10', '100', '101', '120', '121', '140', '150', '160', '200', '201', '251', '270', '300', '301', '351', '352', '370', '400', '450', '500', '550', '600', '650', '652', '1000', '1020', '1040', '1100', '1200', '1510', '2510', '3000', '4510', '5510', '6000']

In [ ]:
Second_week_data = a.loc[:, col_list]*1.05
Second_week_data = Second_week_data.reset_index(inplace = False, drop=True)
Second_week_data

            10        100       101  ...      4510      5510      6000
0     81866.40   15150.45   1294.65  ...   2375.10   1688.40   2453.85
1     51112.95    9592.80    864.15  ...   1496.25   1068.90   1900.50
2     35461.65    8608.95    606.90  ...   1212.75    973.35   1606.50
3     43586.55   10485.30    762.30  ...   1550.85   1006.95   1976.10
4     82614.00   20484.45   1536.15  ...   3312.75   1964.55   3838.80
..         ...        ...       ...  ...       ...       ...       ...
163  327313.35  106349.25  10589.25  ...  17782.80  11265.45  21203.70
164  320621.70   95997.30   9037.35  ...  15768.90  10255.35  18860.10
165  321308.40   78868.65   6641.25  ...  13023.15   8216.25  14732.55
166  249319.35   51972.90   4419.45  ...   7882.35   5656.35   9333.45
167  157827.60   28780.50   2467.50  ...   4321.80   3198.30   4836.30

[168 rows x 35 columns]

In [ ]:
Third_week_data = b.loc[:, col_list]*1.02
Third_week_data = Third_week_data.reset_index(inplace = False, drop=True)
Third_week_data

            10        100       101  ...      4510      5510      6000
0     83706.30   15475.44   1530.00  ...   2286.84   1651.38   2360.28
1     52272.96   10036.80    829.26  ...   1417.80   1023.06   1801.32
2     39806.52    8051.88    775.20  ...   1158.72    940.44   1335.18
3     41812.86   10339.74    795.60  ...   1524.90    994.50   1950.24
4     79420.26   19995.06   1301.52  ...   2998.80   1793.16   3701.58
..         ...        ...       ...  ...       ...       ...       ...
163  320510.52  100311.90  10837.50  ...  16060.92  11121.06  21434.28
164  306001.02   89628.42   8390.52  ...  14377.92  10228.56  18142.74
165  310233.00   72548.52   6122.04  ...  11903.40   8122.26  14321.82
166  241486.02   45845.94   3646.50  ...   7415.40   5297.88   8394.60
167  146481.18   26659.74   2286.84  ...   4042.26   2739.72   4783.80

[168 rows x 35 columns]

In [ ]:
my_submission = (Second_week_data + Third_week_data) / 2
my_submission

             10         100        101  ...       4510       5510       6000
0     82786.350   15312.945   1412.325  ...   2330.970   1669.890   2407.065
1     51692.955    9814.800    846.705  ...   1457.025   1045.980   1850.910
2     37634.085    8330.415    691.050  ...   1185.735    956.895   1470.840
3     42699.705   10412.520    778.950  ...   1537.875   1000.725   1963.170
4     81017.130   20239.755   1418.835  ...   3155.775   1878.855   3770.190
..          ...         ...        ...  ...        ...        ...        ...
163  323911.935  103330.575  10713.375  ...  16921.860  11193.255  21318.990
164  313311.360   92812.860   8713.935  ...  15073.410  10241.955  18501.420
165  315770.700   75708.585   6381.645  ...  12463.275   8169.255  14527.185
166  245402.685   48909.420   4032.975  ...   7648.875   5477.115   8864.025
167  152154.390   27720.120   2377.170  ...   4182.030   2969.010   4810.050

[168 rows x 35 columns]

In [ ]:
my_submission = 0.93*my_submission

In [ ]:
my_submission.to_csv('/content/drive/MyDrive/AI_team/eda_2/my_weight.csv', index=False)

In [ ]:
team_submission = pd.read_csv('/content/drive/MyDrive/AI_team/eda_2/7_submission.csv')
team_submission = team_submission.drop(['timestamp'], axis=1, inplace=False)
team_submission

                10           100  ...         5510          6000
0     74502.728995  12748.923136  ...  1437.154666   2165.401735
1     49654.982993   8922.196478  ...   982.073626   1566.135010
2     40539.296535   7700.995561  ...   833.418346   1390.913107
3     44315.671343   9314.839189  ...   933.328135   1744.527210
4     75825.613942  17979.361314  ...  1685.005356   3380.469140
..             ...           ...  ...          ...           ...
163  305519.205210  90747.659446  ...  9620.154234  18267.629016
164  303033.926308  79247.495218  ...  8897.172230  15809.273851
165  280800.819055  63152.366288  ...  7038.559609  12135.522551
166  222098.477813  43902.051533  ...  4708.359372   7923.971006
167  155243.706737  27245.749071  ...  2888.569061   4711.561521

[168 rows x 35 columns]

In [ ]:
subtract = team_submission - 0.93*my_submission
subtract

               10          100  ...        5510         6000
0    -2488.576505 -1492.115714  ... -115.843034   -73.168715
1     1580.534843  -205.567522  ...    9.312226  -155.211290
2     5539.597485   -46.290389  ...  -56.494004    23.031907
3     4604.945693  -368.804411  ...    2.653885   -81.220890
4      479.683042  -843.610836  ...  -62.329794  -125.807560
..            ...          ...  ...         ...          ...
163   4281.105660 -5349.775304  ... -789.572916 -1559.031684
164  11654.361508 -7068.464582  ... -627.845920 -1397.046749
165 -12865.931945 -7256.617762  ... -558.847541 -1374.759499
166  -6126.019237 -1583.709067  ... -385.357578  -319.572244
167  13740.124037  1466.037471  ...  127.389761   238.215021

[168 rows x 35 columns]